extends ../../layouts/defaultMenu.pug
include ../../mixins/pagination.pug

block main
    h4.mb-6 Tất cả Bài Viết 
        
        .row.g-4
            each blog in posts
                // Bài viết 1
                .col-md-4
                    a.text-decoration-none(href=`/blog/${blog.PostID}`)
                        .card.blog-card
                            img.blog-img(src=blog.Image alt="Mountain landscape")
                            .card-body
                                .blog-date #{blog.AuthorName} • #{blog.FormattedCreatedAt}
                                h5.blog-title= blog.Title
                                p.blog-desc= blog.Content
                                .d-flex.justify-content-between.align-items-center
                                    div
                                        each category in blog.CategoryNames
                                            span.blog-tag= category

        // Pagination
        +pagination(currentPage, totalPages)