extends ../../layouts/defaultMenu.pug
include ../../mixins/pagination.pug
block main
  .container
    if error
      .error-message= error
    else
      .documents-grid
        each doc in documents
          .document-card
            // Phần ảnh đại diện bên trái
            .document-icon
              img.thumb-image(
                src=doc.thumbnail || "/images/doc-thumb.jpg"  
                alt=doc.title
              )

            // Phần nội dung bên phải
            .document-info
              // Hiển thị nhiều danh mục
              .categories-list
                each category in doc.categories
                  span.category-badge= category.Name

              // Tiêu đề với link
              h1.document-title #{doc.title}
                .link-wrapper
                  span.link-label Link: 
                  a.doc-link(href=doc.filePath target="_blank") Click vào đây để lấy tài liệu

      // Phân trang
      +pagination(currentPage, totalPages)
      