extends ../../layouts/defaultMenu.pug

block main
  div(class="chat-ui")
    img(
      src="https://media.istockphoto.com/id/1515913422/vi/anh/m%E1%BB%99t-nh%C3%A0-ph%C3%A2n-t%C3%ADch-d%E1%BB%AF-li%E1%BB%87u-s%E1%BB%AD-d%E1%BB%A5ng-c%C3%B4ng-ngh%E1%BB%87-ai-cho-c%C3%B4ng-c%E1%BB%A5-l%C3%A0m-vi%E1%BB%87c-%C4%91%E1%BB%83-ph%C3%A2n-t%C3%ADch-d%E1%BB%AF-li%E1%BB%87u.jpg?s=612x612&w=0&k=20&c=RtLq-qf6cfvnAcPZp-W0RI6znWKQxFgOa9l4kJN0QSE="
      alt="AI Background"
      class="chat-ui__bg"
    )

    div(class="chat-ui__content")
      div(class="chat-ui__header")
        h1(class="chat-ui__title")
          | Chat UI
          span(class="chat-ui__subtitle") AI-Powered Conversations

      div(class="chat-ui__chatbox")
        div(class="chat-ui__message-group")
          div(class="chat-ui__message chat-ui__message--left")
            | Hello! Welcome to the Chat UI.
          div(class="chat-ui__message chat-ui__message--right")
            | Hi! How can I assist you today?

    div(class="chat-ui__input-wrapper")
      form(class="chat-ui__form")
        input(
          type="text"
          name="message"
          placeholder="Type your message..."
          class="chat-ui__input"
        )
        button(
          type="submit"
          class="chat-ui__send-btn"
        )
          | Send
