extends ../../layouts/default.pug


block main
  // Banner Cải tiến
  .container.mt-4.mb-5
    .banner
      .banner-content
        h1 Thảo luận không giới hạn
        h2 Khám phá mọi chủ đề!
      a.banner-cta.btn(href="/forum") Tham gia tại đây!
  
  // Câu hỏi nổi bật
  .container.mb-5
    h4.mb-4 Câu hỏi nổi bật
    .row.g-4
      each question, idx in forumTopics.slice(0, 3)
        .col-md-4
          .question-card
            .d-flex.align-items-start
              .question-number #{idx + 1}
              div
                a.text-decoration-none(href=`/forum/exchange/${question.TopicID}`) 
                  .error-text #{question.Title}
                  p.mb-0 #{question.Content.length > 120 ? question.Content.substring(0, question.Content.lastIndexOf(' ', 120)) + '...' : question.Content}
                
    
    //- // Câu hỏi 1
    //- .question-card
    //-   .d-flex.align-items-start
    //-     .question-number 1
    //-     div
    //-       .error-text org.hibernate.query.QueryArgumentException: Argument [44]
    //-       p.mb-0 I have 2 tables in database "Courses" and "Instructor" with "Instructor" table having one to many relation with "Courses" table and "Courses" table having many to one relation with Instr...
    
    //- // Câu hỏi 2
    //- .question-card
    //-   .d-flex.align-items-start
    //-     .question-number 1
    //-     div
    //-       .error-text org.hibernate.query.QueryArgumentException: Argument [44]
    //-       p.mb-0 I have 2 tables in database "Courses" and "Instructor" with "Instructor" table having one to many relation with "Courses" table and "Courses" table having many to one relation with Instr...
    
    //- // Câu hỏi 3
    //- .question-card
    //-   .d-flex.align-items-start
    //-     .question-number 1
    //-     div
    //-       .error-text org.hibernate.query.QueryArgumentException: Argument [44]
    //-       p.mb-0 I have 2 tables in database "Courses" and "Instructor" with "Instructor" table having one to many relation with "Courses" table and "Courses" table having many to one relation with Instr...
  
  // Tính năng nổi bật
  .container.mb-5
    h4.mb-4 Một số chức năng nổi bật
    
    .row.g-4
      // Tính năng 1: AI Chat
      .col-md-4
        .feature-card.text-center
          i.fas.fa-brain.feature-icon
          h3 AI Chat 
          p Hệ thống gợi ý thông minh, hiểu ý của bạn, tự động phân tích mọi vấn đề. Tích hợp sẵn nguồn kiến thức lập trình. Hỏi AI bất cứ khi nào bạn cần!
          a.feature-btn(href="/chatBox") Khám phá ngay!

      // Tính năng 2: Biên dịch
      .col-md-4
        .feature-card.text-center
          i.fas.fa-cogs.feature-icon
          h3 Biên dịch
          p Biên dịch nhanh chóng, không cần cài đặt gì thêm! Ngôn ngữ đa dạng, không giới hạn. Tiết kiệm thời gian biên dịch, kiểm thử. Kết quả ngay lập tức.
          a.feature-btn(href="/compile") Khám phá ngay!

      // Tính năng 3: Tài liệu
      .col-md-4
        .feature-card.text-center
          i.fas.fa-file-alt.feature-icon
          h3 Tài liệu
          p Kho tài liệu phong phú, hay đáp ứng mọi nhu cầu tìm kiếm. Tài liệu chuyên sâu từ những nền tảng hàng đầu. Liên tục cập nhật các tài liệu mới về những chủ đề hot nhất hiện nay.
          a.feature-btn(href="/document") Khám phá ngay!

  // Bài viết nổi bật
  .container.mb-5
    h4.mb-4 Bài viết nổi bật

    .row.g-4
      each blog , idx in posts.slice(0, 3)
        .col-md-4
          a.text-decoration-none(href=`/blog/${blog.PostID}`)
            .card.blog-card
              img.blog-img(src=blog.Image alt=blog.Title)
              .card-body
                .blog-date #{blog.AuthorName} • #{blog.FormattedCreatedAt}
                h5.blog-title #{blog.Title}
                p.blog-desc #{blog.Content}
                .d-flex.justify-content-between.align-items-center
                  div
                    each category in blog.CategoryNames
                      span.blog-tag= category