extends ../../layouts/defaultMenu.pug

block main
    .profile-container
        .row
            .col-md-4.mb-4
                .profile-cardpng
                    .profile-header
                        .avatar-container
                            img.profile-avatar(src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png" alt="Admin")
                            .avatar-edit
                                label(for="avatar-upload")
                                    i.fas.fa-pencil-alt
                                input#avatar-upload(type="file", hidden)
                        .user-name-title #{user.FullName || 'Guest'}

                    .profile-tabs
                        .profile-tab.active Thông Tin Cá Nhân
                        a.profile-tab(href=`/profile/history/${user ? user.UserID : 'guest'}`) Lịch Sử Câu Hỏi
            .col-md-8
                .content-card
                    h2.section-title Thông Tin Cá Nhân

                    form.profile-form(action=`/profile/edit/${user ? user.UserID : 'guest'}?_method=PATCH`, method="POST")
                        .form-section
                           
                            .form-group
                                label(for="fullName") Name:
                                input#fullName.form-control(type="text" name="FullName" value=user.FullName)

                            .form-group
                                label(for="phone") SĐT:
                                input#phone.form-control(type="text" name="Phone" value=user.Phone)

                            .form-group
                                button.btn-save(type="submit") Lưu
                    form.profile-form(action=`/profile/edit-password/${user ? user.UserID : 'guest'}?_method=PATCH`, method="POST")    
                        .form-section.mt-5
                            h3.form-section-title Security

                            .form-group
                                label(for="email") Email
                                input#email.form-control(type="email" value=user.Email, readonly)

                            .form-group
                                label(for="password") Mật Khẩu Hiện Tại
                                input#password.form-control(type="password"  name="CurrentPassword")
                            .form-group
                                label(for="newPassword") Mật Khẩu Mới
                                input#newPassword.form-control(type="password"  name="NewPassword")
                            .form-group
                                label(for="confirmPassword") Xác Nhận Mật Khẩu
                                input#confirmPassword.form-control(type="password"  name="ConfirmPassword")

                            .form-group
                                button.btn-save(type="submit") Lưu
