extends ../../layouts/default.pug

block main
  .forum-management-container
    .forum-header
      h1.forum-title Quản lý diễn đàn

    .forum-table-wrapper
      table.forum-table
        thead
          tr
            th.forum-th-id ID câu hỏi
            th.forum-th-content Nội dung
            th.forum-th-name Tên người đăng
            th.forum-th-email Email
            th.forum-th-date Ngày tạo
            th.forum-th-actions Thao tác
        tbody
          -
          
          each question in questions
            tr.forum-tr-question
              td.forum-td-id= question.id
              td.forum-td-content= question.content
              td.forum-td-name= question.name
              td.forum-td-email= question.email
              td.forum-td-date= question.date
              td.forum-td-actions
                .forum-btn-group(role="group")
                  button.forum-btn.forum-btn-view(data-id=question.id data-status=question.status title="Xem chi tiết")
                    i.fas(class=question.status === 'inactive' ? 'fa-eye-slash' : 'fa-eye')

                  button.forum-btn.forum-btn-edit(data-id=question.id title="Chỉnh sửa")
                    i.fas.fa-edit

                  button.forum-btn.forum-btn-delete(data-id=question.id title="Xóa")
                    i.fas.fa-trash
    .forum-pagination-wrapper
      .forum-pagination
        button.forum-btn-page.forum-btn-prev(disabled)
          i.icon-prev
          span Prev

        - var pages = [1, 2, 3, 4, 5]
        each page in pages
          - var pageClass = page === 1 ? 'forum-btn-page forum-btn-active' : 'forum-btn-page'
          button(class=pageClass)= page

        button.forum-btn-page.forum-btn-next
          span Next
          i.icon-next