extends ../../layouts/default.pug

block main
  .forum-management-container
    .forum-header
      h1.forum-title Quản lý diễn đàn

    .forum-table-wrapper
      table.forum-table
        thead
          tr
            th.forum-th-id ID câu hỏi
            th.forum-th-content Nội dung
            th.forum-th-name Tên người đăng
            th.forum-th-email Email
            th.forum-th-comments Số lượt bình luận
            th.forum-th-date Ngày tạo
            th.forum-th-actions Thao tác
        tbody
          - 
            var questions = [
              { id: 1, content: 'Làm sao để nuôi chó con khỏe mạnh?', name: 'Nguyễn Văn A', email: 'a@gmail.com', comments: 3, date: '01/01/2025' },
              { id: 2, content: 'Nên cho mèo ăn thức ăn gì?', name: 'Trần Thị B', email: 'b@gmail.com', comments: 5, date: '02/01/2025' },
              { id: 3, content: 'Thú cưng có cần tiêm phòng?', name: 'Lê Văn C', email: 'c@gmail.com', comments: 2, date: '03/01/2025' },
              { id: 4, content: 'Làm thế nào để dạy chó đi vệ sinh đúng chỗ?', name: 'Phạm Thị D', email: 'd@gmail.com', comments: 7, date: '04/01/2025' },
              { id: 5, content: 'Cách chăm sóc mèo bị bệnh ngoài da?', name: 'Hoàng Văn E', email: 'e@gmail.com', comments: 1, date: '05/01/2025' }
            ];
          
          each question in questions
            tr.forum-tr-question
              td.forum-td-id= question.id
              td.forum-td-content= question.content
              td.forum-td-name= question.name
              td.forum-td-email= question.email
              td.forum-td-comments= question.comments
              td.forum-td-date= question.date
              td.forum-td-actions
                .forum-btn-group(role="group")
                  button.forum-btn.forum-btn-view(title="Xem chi tiết")
                    i.fas.fa-eye
                  button.forum-btn.forum-btn-edit(title="Chỉnh sửa")
                    i.fas.fa-edit
                  button.forum-btn.forum-btn-delete(title="Xóa")
                    i.fas.fa-trash

    .forum-pagination-wrapper
      .forum-pagination
        button.forum-btn-page.forum-btn-prev(disabled)
          i.icon-prev
          span Prev

        - var pages = [1, 2, 3, 4, 5]
        each page in pages
          - var pageClass = page === 1 ? 'forum-btn-page forum-btn-active' : 'forum-btn-page'
          button(class=pageClass)= page

        button.forum-btn-page.forum-btn-next
          span Next
          i.icon-next
